Checks: >
  -*,
  modernize-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  bugprone-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-member-init,
  -readability-isolate-declaration

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
